{% extends 'base.html' %}

{% block body %}

        <!-- Main Content Box -->
    <div class="main-container">
        <h1 class="text-center">Scanning Sky Monitor</h1>
        <p>This is a space research platform dedicated to Scanning Sky Monitor.</p>
        <hr>
        <h2>Contact Us</h2>
        <ul>
            <li>For science data related queries, please contact 
                : ssm@isac.gov.in .</li>
            <li>For queries related to website access and availability, please contact
                 : issdc_team@istrac.gov.in .</li>
        </ul>
    </div>

{% endblock %}

<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>