{% extends 'base.html' %}

{% block body %}

        <!-- Main Content Box -->
    <div class="main-container">
        <h1 class="text-center">Welcome to SSM Portal</h1>
        <p>This is a space research platform dedicated to Scanning Sky Monitor.</p>
        <hr>
        <h2>Latest News</h2>
        <ul>
            
        </ul>
    </div>

{% endblock %}

<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>