{% extends 'base.html' %}

{% block body %}

        <!-- Main Content Box -->
    <div class="main-container">
        <h1 class="text-center">Welcome to SSM Portal</h1>
        <p>This is a space research platform dedicated to Scanning Sky Monitor.</p>
        <hr>
        <h2>Scanning Sky Monitor (SSM)</h2>
        <ul>
            <li>🚀 The Scanning Sky Monitor (SSM) is a scientific instrument on board AstroSat, India's first multiwavelength mission. The main objective of SSM is to locate transient sources in the sky as well as monitor the intensity variation in known bright X-ray sources. SSM is designed to work in the X-ray energy band of 2.5 keV - 10 keV.</li>
            <li>🔭 SSM has 3 cameras which will monitor and look for the cosmic sources emitting X-rays in the designated energy band. SSM will generate alerts, if there are any flux excursions in known sources or if it is a new source. Information about these alerts will be made available in this website and can be made use of by other ground and space based observatories to take up follow-up observations of the source of interest.</li>
            <li>🌌 A catalog of the sources detected by SSM can be obtained from this website. In addition, the light curve data file for every source detected by SSM can also be obtained after proper authentication.</li>
        </ul>
    </div>

{% endblock %}

<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>